html {
    background-image: linear-gradient(to bottom, blue, black);
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

body {
    margin: 0%;
    min-height: 100vh;
}

nav {
    display: block;
    height: 65px;
}

    nav > h1, nav > h2 {
        display: inline;
        padding: 15%;

    }

    nav > ul > li > a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

        nav > ul > li > a:hover {
            background-color: darkblue;
        }

    nav > ul, li {
        width: auto;
        list-style-type: none;
        float: left;
        padding-top: 10px;
        padding-left: 10px;
    }

table, tr, td, th {
    width: 1000px;
    font-size: 50px;
    text-align: center;
    height: auto;
    color: white;
    border: solid 3px white;
    border-collapse: collapse;
}

#right-icon {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    table, tr, td, th {
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    #right-icon {
        transform: scaleX(-1);
        visibility: visible;
    }
    ul, li {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
